<?xml version="1.0"?>
<!--orb_slam2单目-->
<launch>
    <arg name="depth_camera_name"   default="astra_camera"/>

    <!--深度摄像头-->
    <include file="$(find peripherals)/launch/depth_cam.launch"/>

    <!--底盘驱动(chassis driver)-->
    <include file="$(find controller)/launch/controller.launch"/>
    <node name="init_pose" pkg="slam" type="init_pose.py" output="screen">
        <param name="horizontal" value="true"/>
    </node>

    <!--手柄控制-->
    <include file="$(find peripherals)/launch/joystick_control.launch" >
        <arg name="max_linear"  value="0.15"/>
        <arg name="max_angular" value="0.5"/>
    </include>

    <node name="orb_slam2_mono" pkg="ORB_SLAM2" type="Mono" output="screen" args="$(find ORB_SLAM2)/../../../Vocabulary/ORBvoc.txt $(find ORB_SLAM2)/../../Monocular/TUM1.yaml">
        <remap from="/camera/image_raw"     to="/$(arg depth_camera_name)/rgb/image_raw" />
        <remap from="/camera/camera_info"   to="/$(arg depth_camera_name)/rgb/camera_info" />
    </node>
</launch>
