<?xml version="1.0"?>
<launch>
    <arg name="base_frame"  default="base_link"/>
    <include file="$(find servo_controllers)/launch/controller_manager.launch"/>

    <include file="$(find servo_controllers)/launch/joint_states_publisher.launch">
        <arg name="base_frame"  value="$(arg base_frame)"/>
    </include>
</launch>
