[Unit]
Description=clear log

[Service]
Type=simple
User=ubuntu
Restart=always
RestartSec=10
ExecStart=/home/ubuntu/ros_ws/src/bringup/scripts/clear_log.py
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
