[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/local/bin/jupyter-lab --allow-root --port 8888 --no-browser
WorkingDirectory=/home/ubuntu/
StandardOutput=null
StandardError=null

[Install]
WantedBy=default.target
