<?xml version="1.0"?>
<launch>
    <include file="$(find xf_mic_asr_offline)/launch/mic_init.launch"/>
    <include file="$(find example)/scripts/color_track/color_track_node.launch">
        <arg name="start"           value="false"/>
    </include>
    <node pkg="xf_mic_asr_offline" type="voice_control_color_track.py" name="voice_control_color_track_node" output="screen"/>
</launch>
