<?xml version="1.0"?>
<launch>
    <include file="$(find xf_mic_asr_offline)/launch/mic_init.launch"/>
    <include file="$(find peripherals)/launch/lidar.launch"/>
    <!--底盘驱动(chassis driver)-->
    <include file="$(find controller)/launch/controller.launch"/>
    <node name="init_pose" pkg="slam" type="init_pose.py" output="screen"/>
    <node pkg="xf_mic_asr_offline" type="voice_control_move.py" name="voice_control_move_node" output="screen"/>
</launch>
