<?xml version="1.0" encoding="utf-8" ?>
<robot name="arm" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="model_color" params="link_name color_name">
        <gazebo reference="${link_name}">
            <material>Gazebo/${color_name}</material>
            <turnGravityOff>false</turnGravityOff>
        </gazebo>
    </xacro:macro>

    <xacro:model_color link_name="link1"                color_name="gray"/>
    <xacro:model_color link_name="camera_connect_link"  color_name="black"/>
    <xacro:model_color link_name="servo_link1"          color_name="gray"/>
    <xacro:model_color link_name="link2"                color_name="gray"/>
    <xacro:model_color link_name="link3"                color_name="gray"/>
    <xacro:model_color link_name="link4"                color_name="gray"/>
    <xacro:model_color link_name="link5"                color_name="gray"/>
    <xacro:model_color link_name="servo_link2"          color_name="black"/>
    <xacro:model_color link_name="gripper_link"         color_name="black"/>
</robot>
