<?xml version="1.0" encoding="utf-8" ?>
<robot name="depth_camera" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="M_PI" value="3.1415926535897931"/>
    <gazebo reference="depth_cam_frame">
        <sensor name="depth_cam" type="depth">
          <visualize>true</visualize>
          <update_rate>20</update_rate>
          <camera>
            <pose>0 0 0 ${M_PI/2} ${-M_PI/2} 0</pose>
            <horizontal_fov>1.24791</horizontal_fov>
            <image>
              <width>640</width>
              <height>480</height>
              <format>R8G8B8</format>
            </image>
            <clip>
              <near>0.6</near>
              <far>8</far>
            </clip>
          </camera>
          <plugin name="camera_plugin" filename="libgazebo_ros_openni_kinect.so">
            <baseline>0.2</baseline>
            <alwaysOn>true</alwaysOn>
            <updateRate>0.0</updateRate>
            <cameraName>depth_cam</cameraName>
            <imageTopicName>rgb/image_raw</imageTopicName>
            <depthImageTopicName>depth/image_raw</depthImageTopicName>
            <pointCloudTopicName>depth/points</pointCloudTopicName>
            <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
            <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
            <frameName>depth_cam_frame</frameName>
            <pointCloudCutoff>0.6</pointCloudCutoff>
            <pointCloudCutoffMax>8.0</pointCloudCutoffMax>
            <distortionK1>0</distortionK1>
            <distortionK2>0</distortionK2>
            <distortionK3>0</distortionK3>
            <distortionT1>0</distortionT1>
            <distortionT2>0</distortionT2>
            <CxPrime>0</CxPrime>
            <Cx>0</Cx>
            <Cy>0</Cy>
            <focalLength>0</focalLength>
            <hackBaseline>0</hackBaseline>
          </plugin>
        </sensor>
    </gazebo>

    <xacro:macro name="model_color" params="link_name color_name">
        <gazebo reference="${link_name}">
            <material>Gazebo/${color_name}</material>
            <turnGravityOff>false</turnGravityOff>
        </gazebo>
    </xacro:macro>

    <xacro:model_color link_name="astra_camera_link"       color_name="black"/>
    <xacro:model_color link_name="gemini_camera_link"   color_name="black"/>
</robot>
