<?xml version="1.0"?>
<launch>
    <arg name="robot_name"  default="$(env ROBOT_HOST)" />
    <arg name="model_path" default="$(find roslander_gazebo)/models"/>
    <node name="bed"        pkg="gazebo_ros" type="spawn_model" args="-file $(arg model_path)/bed.model -x 5.0 -y -3.9 -z 0 -Y 3.14159 -urdf -model bed" />
    <node name="sofa"       pkg="gazebo_ros" type="spawn_model" args="-file $(arg model_path)/sofa.model -x -1.0 -y -3.9 -z 0 -Y 1.57 -urdf -model sofa" />
    <node name="tea_table"  pkg="gazebo_ros" type="spawn_model" args="-file $(arg model_path)/tea_table.model -x -2.1 -y -2.2 -z 0 -Y 1.57 -urdf -model tea_table" />
    <node name="bookshelft" pkg="gazebo_ros" type="spawn_model" args="-file $(arg model_path)/bookshelft.model -x 2.0 -y -0.55 -z 0 -Y -1.57 -urdf -model bookshelft" />

    <node name="kitchen_table"   pkg="gazebo_ros" type="spawn_model" args="-file $(arg model_path)/table.model -x -3.5 -y 3.7 -z 0 -Y 1.57 -urdf -model kitchen_table" />

    <node name="dinning_table_0" pkg="gazebo_ros" type="spawn_model" args="-file $(arg model_path)/table.model -x 1.5 -y 1.5 -z 0 -Y 1.57 -urdf -model dinning_table_0" />
    <node name="dinning_table_1" pkg="gazebo_ros" type="spawn_model" args="-file $(arg model_path)/table.model -x 1.5 -y 2.0 -z 0 -Y 1.57 -urdf -model dinning_table_1" />
    <node name="dinning_table_2" pkg="gazebo_ros" type="spawn_model" args="-file $(arg model_path)/table.model -x 2.7 -y 1.5 -z 0 -Y 1.57 -urdf -model dinning_table_2" />
    <node name="dinning_table_3" pkg="gazebo_ros" type="spawn_model" args="-file $(arg model_path)/table.model -x 2.7 -y 2.0 -z 0 -Y 1.57 -urdf -model dinning_table_3" />

    <node name="chair_0" pkg="gazebo_ros" type="spawn_model" args="-file $(arg model_path)/chair.model -x 1.5 -y 1.2 -z 0 -Y 1.57 -urdf -model chair_0" />
    <node name="chair_1" pkg="gazebo_ros" type="spawn_model" args="-file $(arg model_path)/chair.model -x 1.5 -y 2.3 -z 0 -Y -1.57 -urdf -model chair_1" />
    <node name="chair_2" pkg="gazebo_ros" type="spawn_model" args="-file $(arg model_path)/chair.model -x 2.7 -y 1.2 -z 0 -Y 1.57 -urdf -model chair_2" />
    <node name="chair_3" pkg="gazebo_ros" type="spawn_model" args="-file $(arg model_path)/chair.model -x 2.7 -y 2.3 -z 0 -Y -1.57 -urdf -model chair_3" />

    <include file="$(find roslander_gazebo)/launch/spwan_model.launch">
        <arg name="robot_name"  value="$(arg robot_name)"/>
    </include>
    <!-- startup simulated world -->
    <include file="$(find roslander_gazebo)/launch/empty_world.launch">
        <arg name="world_name"      default="$(find roslander_gazebo)/worlds/robocup_home.world"/>
        <arg name="paused"          value="true"/>
        <arg name="use_sim_time"    value="true"/>
        <arg name="gui"             value="true"/>
        <arg name="debug"           value="false"/>
    </include>
</launch>
