<?xml version="1.0"?>
<launch>
    <arg name="robot_name"  default="$(env ROBOT_HOST)"/>
    <arg name="lidar_view"  default="false"/>

    <!-- startup simulated world -->
    <include file="$(find roslander_gazebo)/launch/empty_world.launch">
        <arg name="paused"          value="false"/>
        <arg name="use_sim_time"    value="true"/>
        <arg name="gui"             value="true"/>
        <arg name="debug"           value="false"/>
    </include>

    <include file="$(find roslander_gazebo)/launch/spwan_model.launch">
        <arg name="robot_name"  value="$(arg robot_name)"/>
    </include>
</launch>
